/** @format */
:root {
  --branding-color: #d789d7;
  --secondary-color: #9d65c9;
  --branding-background: linear-gradient(
    to right,
    rgb(173, 83, 137),
    rgb(60, 16, 83)
  );
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font-family: "Baloo 2", cursive;
  --secondary-font-family: "Delius Unicase", cursive;
}
.App .container-header {
  border: 4px solid #21aba4fd;
  border-radius: 12px;
  margin: 50px 80px 15px;
  padding: 20px 25px;
  text-align: center;
  font-family: var(--secondary-font-family);
  box-shadow: var(--box-shadow);
  display: block;
}
.App h1 {
  font-size: 50px;
}

.App .container-dictionary {
  border-radius: 12px;
  margin: 15px 80px 15px;
  box-shadow: var(--box-shadow);
  background-color: #52bde733;
}

