/** @format */
:root {
  --branding-color: #d789d7;
  --secondary-color: #9d65c9;
  --branding-background: linear-gradient(
    to right,
    rgb(173, 83, 137),
    rgb(60, 16, 83)
  );
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font-family: "Baloo 2", cursive;
  --secondary-font-family: "Delius Unicase", cursive;
}
footer {
  margin: 50px 20px;
}
.footer {
  margin: 10px;
}
.footer-email {
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 12px;
  font-weight: bold;
}

.footer-info {
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 12px;
}

.fa-github-square,
.fa-id-card,
.fa-linkedin {
  font-size: 22px;
  color: black;
  opacity: 0.6;
}

.fa-github-square:hover,
.fa-id-card:hover,
.fa-linkedin:hover,
.fa-envelope:hover {
  color: rgb(115, 23, 165);
  transition: 200ms ease-in-out;
  opacity: 1;
  text-decoration: overline;
}
.git-link {
  text-decoration: none;
  color: rgb(115, 23, 165);
  font-weight: bold;
  font-family: var(--primary-font-family);
}

.git-link:hover {
  transition: 200ms ease-in-out;
  color: var(--secondary-color);
}

.fab:hover,
.fas:hover,
.far:hover {
  font-size: 34px;
  transition: all 200ms ease-in-out;
  color: rgb(49, 4, 73);
}
