/** @format */

.Synonyms li {
  display: inline-block;
  padding-right: 50px;
  font-size: 13px;
  text-align: center;
  margin: 5px 15px 5px;
  border: 1px dotted #21aba4fd;
  border-radius: 5px;
}
